#cred-container {
  background-color: #fff;
  border: 1px solid rgb(209, 209, 209);
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 415px;
  margin-top: 20px;
}

.content-header {
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
  padding: 20px 20px 15px 20px;
}

.content-header h2 {
  font-family: "Roboto", sans-serif;
  height: 30px;
  font-weight: 400;
}

.content-main {
  padding: 25px 35px;
}
