#content-container {
  background-color: #fff;
  border: 1px solid rgb(209, 209, 209);
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 415px;
  margin-top: 20px;
}

.content-header {
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
  padding: 20px 20px 10px 20px;
}

.content-header h2 {
  font-family: "Roboto", sans-serif;
  height: 20px;
  font-weight: 500;
  font-size: 1.2rem;
}

.content-main {
  padding: 20px 35px;
}

.content-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-input input:focus{
  border: 2px solid #ee7272;
  outline: none;
}

.form-input label {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #707070;
}

.form-input input {
  width: 100%;
  height: 50px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 0 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.form-submit {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  background: #ff5a5f;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.8rem 3rem;
  margin-top: 10px;
  transition: ease-in-out 0.2s;
}

.form-submit:hover {
  opacity: 0.9;
  cursor: pointer;
}

.form-redirect {
  margin-top: 20px;
}

.form-redirect a {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #707070;
}


@media (max-width: 600px) {
  #content-container {
    width: 300px;
  }

}
