.form-group {
  display: flex;
  width: 100%;
}

.form-group .form-input:first-child {
  margin-right: 20px;
}

.signup-container {
  width: 575px !important;
}

@media (max-width: 600px) {
  .signup-container {
    margin: 100px 0 150px 0px !important;
    width: 100% !important;
  }

  #content-container {
    width: 300px;
  }

  .form-group {
    flex-direction: column;
  }
}
